{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .users_table {
          border: 1px solid black;
          margin-top: 30px;
        }

        th, td {
          padding: 15px;
          border: 1px solid black
        }

        .phones_table > tbody> tr > td {
          border: none;
        }
        
        .users_table > tbody > tr:nth-child(odd){
            background-color: white;
            color: #808284;
        }

        .users_table > tbody > tr:nth-child(even){
            background-color: #f1f1f2;
            color: #808284;
        }

        td > a {
          color: #808284;
          text-decoration: underline;
        }

        .modal-body {
          margin-top: 15px;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <h1>Recent Users</h1>
                    <table class="users_table">
                      <thead>
                        <tr>
                          <th>Display Name</th>
                          <th>Phone Number</th>
                          <th>Point Balance</th>
                          <th>Tier</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in users %}

                        <tr>
                          {% if location_list[loop.index0] %}
                            <td>
                              <a 
                                href="#myModal"
                                data-toggle="modal" 
                                data-location="{{ location_list[loop.index0].0.0 }}"
                              >
                                {{ user.3 }}
                              </a>
                            </td>
                          {% else %}
                            <td>{{ user.3 }}</td>
                          {% endif %}

                          {% set outer_loop = loop %}

                          {% if phones_list[loop.index0] %}
                            <td>
                              <table class="phones_table">
                                {% for phone in phones_list[outer_loop.index0] %}
                                  <tr>
                                    <td>{{ phone.0 }}</td>
                                  </tr>
                                {% endfor %}
                              </table>
                            </td>
                          {% else %}
                            <td></td>
                          {% endif %}

                          <td>{{ user.11 }}</td>
                          <td>{{ user.7 }}</td>
                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Location</h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#myModal").on('show.bs.modal', function (event) {
            let location = $(event.relatedTarget).data('location');
            $(this).find('.modal-body').text(location);
          });
      });
    </script>

{% endblock %}
